<web-app>
    <servlet>
        <servlet-name>authController</servlet-name>
        <servlet-class>ru.job4j.musical.controllers.AuthController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>ru.job4j.musical.controllers.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserCreateController</servlet-name>
        <servlet-class>ru.job4j.musical.controllers.UserCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateController</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectFillerController</servlet-name>
        <servlet-class>ru.job4j.musical.controllers.SelectFillerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectFillerController</servlet-name>
        <url-pattern>/roles_types</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletionController</servlet-name>
        <servlet-class>ru.job4j.musical.controllers.DeletionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletionController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>ru.job4j.musical.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
</web-app>