<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>