<web-app>
    <listener>
        <listener-class>ru.job4j.carplace.listeners.ConxListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>ru.job4j.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>\
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>ru.job4j.controllers.AuthController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>\
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdvertController</servlet-name>
        <servlet-class>ru.job4j.controllers.AdvertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdvertController</servlet-name>\
        <url-pattern>/advert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileUploadController</servlet-name>
        <servlet-class>ru.job4j.controllers.FileUploadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadController</servlet-name>\
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FillFormController</servlet-name>
        <servlet-class>ru.job4j.controllers.FillFormController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FillFormController</servlet-name>
        <url-pattern>/fillAdvert</url-pattern>
    </servlet-mapping>
</web-app>